<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles.css">
  <title>&lt;/&gt; htmx & Web Components: A Perfect Match for Frontend Development</title>
</head>

<body>

  <h1>&lt;/&gt; htmx examples</h1>
  <h2>Sending RESTful requests: <br> `GET`, `POST`, `PUT` and `DELETE`</h2>

  <script src="https://unpkg.com/htmx.org@2.0.8/dist/htmx.min.js"></script>
  <!--  Alternative if you have a local copy of the library 
    <script src="/lib/htmx.min.js"></script> 
  -->

  <div id="buttons" hx-target="#status">
    <button hx-get="/clicked" inherit:target>Send GET</button>
    <button hx-post="/clicked" inherit:target>Send POST</button>
    <button hx-put="/clicked" inherit:target>Send PUT</button>
    <button hx-delete="/clicked" inherit:target>Send DELETE</button>
  </div>

  <div id="status">No request sent</div>
</body>

</html>